h2{
  text-align:center;
}

.nav{
  display: flex;
  justify-content: center;
  align-items: center;
  
  .groupNav{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 0;

    .btnNav{
      list-style-type: none;
      background-color: EEEEEE;
      align-items: center;
      display: flex;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      transition: all .5s ease-in-out;
      box-shadow: 1px 3px 13px rgba(0, 0, 0, 0.5);
      
      li img{
        width: 18px;
        margin-bottom: 3px;
      }
  
    }
  
    .btnMenu{
      display: flex;
      list-style-type: none;
      transform: translateY(50px);
      background-color: #373A40;
      justify-content: center;
      gap: 7px;
      padding: 12px;
      border-radius: 15px;
      transition: all .5s ease-in-out;
  
      li img{
        width: 18px;
        height: 18px;
      }
      
      li:first-child::before{
        background-color: aqua;
        content: "Home";
        position: absolute;
        top: -25px;
        left: -2px;
        opacity: 0;
        display: none;
      }

      li:first-child:hover::before{
        opacity: 1;
        display: block;
      }
  
      li:nth-child(2)::before{
        background-color: aqua;
        content: "Project";
        position: absolute;
        top: -25px;
        left: 38px;
        opacity: 0;
        display: none;
      }

      li:nth-child(2):hover::before{
        opacity: 1;
        display: block;
      }
      
      li:nth-child(3)::before{
        background-color: aqua;
        content: "Play";
        position: absolute;
        top: -25px;
        /* left: -10px; */
        opacity: 0;
        display: none;
      }

      li:nth-child(3):hover::before{
        opacity: 1;
        display: block;
      }
  
      li:last-child::before{
        background-color: aqua;
        content: "Chat";
        position: absolute;
        top: -25px;
        /* left: -10px; */
        opacity: 0;
        display: none;
      }

      li:last-child:hover::before{
        opacity: 1;
        display: block;
      }
    }
  }
}

/* <div class="nav">
    <div class="groupNav">
      <ul class="btnNav">
        <li><img src="img/pentagon.png" alt="pentagon"></li>
      </ul>
      <ul class="btnMenu">
        <li><img src="img/instagram.png" alt="Home"></li>
        <li><img src="img/instagram.png" alt="Document"></li>
        <li><img src="img/instagram.png" alt="Play"></li>
        <li><img src="img/instagram.png" alt="Chat"></li>
      </ul>
    </div>
  </div> */